<!DOCTYPE html>
<html>
<head>
  <title>vyBuddy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "vybuddy" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/javascripts/globals" %>
  <%= javascript_include_tag "/javascripts/renderers" %>
  <%= javascript_include_tag "/javascripts/handlers" %>
  <%= netzke_init %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
